@import url("http://fonts.googleapis.com/css?family=OpenSans");
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:OpenSans;font-style:normal;src:url("../fonts/OpenSans-Regular.ttf")}
*{border:0;margin:0;padding:0}
a{font-family:OpenSans}
body{background:#111;font-family:OpenSans;font-size:16px;margin:0 auto;padding:0}
header{background:#111;float:left;height:100%;position:fixed;width:275px;}
header aside{display:block;height:100px;}
header aside ul li{display:inline-block;list-style:none;margin:10px;}
<<<<<<< HEAD
header aside ul li a:hover{color:#111;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);-webkit-transition:all .5s ease-in;-moz-transition:all .5s ease-in;-ms-transition:all .5s ease-in;-o-transition:all .5s ease-in;-webkit-transition:all 0.5s ease-in;-moz-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;-ms-transition:all 0.5s ease-in;transition:all 0.5s ease-in}
header aside ul li a:active{color:#111;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);transic}
=======
header aside ul li a:hover{color:#111;opacity:.3;-webkit-transition:all .5s ease-in;-moz-transition:all .5s ease-in;-ms-transition:all .5s ease-in;-o-transition:all .5s ease-in;transition:all .5s ease-in}
>>>>>>> 40c5adc4aaed961806f1316dfb7290ebcbc85efd
header aside #social{bottom:0;position:absolute;width:100%;}
header aside #social a{color:#fff;font-size:2em;font-style:normal;font-weight:normal;font-variant:normal;text-decoration:none}
header aside #social .menuface:before{font-family:'icomoon';content:"\e002"}
header aside #social .menutwit:before{font-family:'icomoon';content:"\e003"}
header aside #social .menuplus:before{font-family:'icomoon';content:"\e001"}
header aside #social .menugit:before{font-family:'icomoon';content:"\e006"}
header h1{margin:10px;}
header h1 figure img{height:164px;width:150px}
header nav{color:#fff;border-bottom:thin solid #808080;border-top:thin solid #808080;display:block;margin:15px;text-align:left;}
header nav ul li{list-style:none;margin:10px 0;}
header nav ul li .menu{color:#fff;font-family:OpenSans;font-weight:bold;text-decoration:none;}
<<<<<<< HEAD
header nav ul li .menu:hover{color:#d3d3d3;-webkit-transition:all .5s ease-in;-moz-transition:all .5s ease-in;-ms-transition:all .5s ease-in;-o-transition:all .5s ease-in;-webkit-transition:all 0.5s ease-in;-moz-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;-ms-transition:all 0.5s ease-in;transition:all 0.5s ease-in}
=======
header nav ul li .menu:hover{color:#d3d3d3;-webkit-transition:all .5s ease-in;-moz-transition:all .5s ease-in;-ms-transition:all .5s ease-in;-o-transition:all .5s ease-in;transition:all .5s ease-in}
>>>>>>> 40c5adc4aaed961806f1316dfb7290ebcbc85efd
header nav ul li .menu:before{font-family:'icomoon';content:"\e005"}
section{background:#fff;margin:0 auto;padding:0;text-align:center;width:1010px}
#content{display:inline-block;float:right;position:relative;text-align:left;vertical-align:top;width:735px;}
#content a{color:#111;font-size:.8em;text-decoration:none}
#content h2{margin:10px 20px}
#content footer{background:#111;display:block;float:left;margin:0 auto;padding:10px;text-align:center;width:100%;}
#content footer ul li{display:inline-block;vertical-align:top;}
#content footer ul li a{color:#fff;font-size:.8em;font-style:normal;font-weight:normal;font-variant:normal;padding:0 5px;text-decoration:none}
#content footer ul li .menuhtml:before{font-family:'icomoon';font-size:2em;content:"\e000"}
#content footer ul li .menucss:before{font-family:'icomoon';font-size:2em;content:"\e004"}
#content .section1{background:#fff;clear:both;display:block;float:left;margin:0 0 10px 0;}
#content .section1 h3,#content .section1 p{margin:10px 20px;text-align:justify}
#content .section1 p{color:#808080;font-size:13px}
#content .section1 .nivoSlider{position:relative;width:100%;overflow:hidden}
#content .section1 .nivoSlider img{position:absolute;top:0;left:0;width:100%;height:418px;margin:0 auto}
#content .section1 .nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}
#content .section1 .nivo-slice{display:block;position:absolute;z-index:5;height:100%}
#content .section1 .nivo-box{display:block;position:absolute;z-index:5}
#content .section1 .nivo-caption{position:absolute;color:#b1b1b1;width:auto;z-index:9985;bottom:20px;margin:0 20px 0 20px;padding:20px;display:block !important;background:#000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Open+Sans',sans-serif}
#content .section1 .capt-heading{float:left;width:250px;text-transform:uppercase;padding-right:20px;margin-right:20px;border-right:#3e3e3e dotted 1px}
#content .section1 .capt-heading h1{color:#fff;font-size:50px;line-height:50px}
#content .section1 .capt-heading h1:first-child{font-size:25px;line-height:25px}
#content .section1 .capt-text{float:left;width:609px}
#content .section1 .capt-text p{font-size:14px}
#content .section1 .capt-text h4{padding-bottom:5px}
#content .section1 .nivo-html-caption{display:none}
#content .section1 .nivo-directionNav{height:60px;width:100%;position:absolute;bottom:179px;z-index:9990;display:inline-block !important}
#content .section1 .nivo-directionNav a{z-index:9;cursor:pointer;text-indent:-9999px}
#content .section1 .nivo-prevNav{width:30px;height:60px;float:left;display:inline-block !important;background:url("../images/banner-arrows.png") no-repeat 0 0 #3d3d3d}
#content .section1 .nivo-nextNav{width:30px;height:60px;float:right;display:inline-block !important;background:url("../images/banner-arrows.png") no-repeat -30px 0 #3d3d3d}
#content .section1 .nivo-controlNav a{position:relative;z-index:9;cursor:pointer}
#content .section1 .nivo-controlNav a.active{font-weight:bold}
#content .section1 .theme-default .nivoSlider{position:relative;background:#fff url("../images/ajax-loader.gif") no-repeat 50% 50%}
#content .section1 .theme-default .nivoSlider img{position:absolute;top:0;left:0;display:none}
#content .section1 .theme-default .nivoSlider a{display:block}
#content .section1 .nivo-controlNav{left:49%;padding:5px 10px;position:absolute;-webkit-border-radius:20px;border-radius:20px;bottom:20px;z-index:9990;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;display:none}
#content .section2{background:#fff;display:inline-block;margin:5px;vertical-align:top;width:355px;}
#content .section2 img{width:100%}
<<<<<<< HEAD
#content .section2 h3,#content .section2 p,#content .section2 span,#content .section2 ul{margin:10px 20px;text-align:justify}
#content .section2 p,#content .section2 ul{color:#808080;font-size:13px;}
#content .section2 p .icon-star:after,#content .section2 ul .icon-star:after{font-family:'icomoon';font-size:2em;content:"\e000";padding:0 0 0 50px}
#content .section2 li{list-style:none}
=======
#content .section2 h3,#content .section2 p,#content .section2 span{margin:10px 20px;text-align:justify}
#content .section2 p{color:#808080;font-size:13px}
>>>>>>> 40c5adc4aaed961806f1316dfb7290ebcbc85efd
@media screen and (max-width: 480px){#wrapper{margin:0 auto;width:100%}
header{background:#111;display:block;margin:0 auto;position:relative;width:100%;}
header figure{margin:0 auto;text-align:center;width:100%}
header nav{text-align:center;}
header nav li{margin:0;width:100%;}
header nav li a{color:#f00;display:block;padding:10px 0;}
<<<<<<< HEAD
header nav li a:hover{background:#3d3d3f;-webkit-border-radius:5px;border-radius:5px;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
=======
header nav li a:hover{background:#3d3d3f;border-radius:5px;opacity:.8}
>>>>>>> 40c5adc4aaed961806f1316dfb7290ebcbc85efd
header aside{line-height:75px;position:relative}
#content{position:relative}
}